.about-pill {
    background: #fff;
    color: #7F78E8;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 50px;
    padding: 0.5rem 2.5rem;
    box-shadow: 0 2px 8px rgba(127, 120, 232, 0.12);
    margin-bottom: 1.5rem;
    display: block;
    width: 100%;
    letter-spacing: 0.05em;
    border: 2px solid #7F78E8;
}

.about-content {
    display: flex;
    align-content: start;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.about {
    padding: 0;
    text-align: center;
    color: black;
    min-height: 0;
    display: flex;
    width: 100%;

}

.about-column {
    width: 60%;
    flex: 2;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding-right: 32px;    
    padding-bottom: 32px;
}

.about-container {
    width: 80%;
    background: #7F78E8;
    margin: 0 auto;
    padding: 0;
    display: flex;
    border-bottom-left-radius:50px ;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0 5px 15px rgba(127, 120, 232, 0.1);
}



.about-text {
    flex: 1;
    text-align: start;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #F8F0E5;
    margin-bottom: 1rem;
}
.about-h2
{
    color: #F8F0E5;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: start;
}

.about-image {
    flex: 1;
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image img {
    max-width: 300px;
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(127, 120, 232, 0.12);
}